.header
  =render 'top/header'
.mypage__container
  =render 'users/mypage-sidebar'
  .mypage__main
    .registration__container
      .registration__title.mypage__title クレジットカード情報入力
      = form_with url:user_credit_cards_path,class:'registration__content mypage__content' do |f|
        .registration__content__box
          =render 'render/input-form-required',label:'カード番号',example:'半角数字のみ',form:f,name: :number
          = image_tag 'credit_card.jpg'
          .mypage__month-form-box
            %label 有効期限
            %span.required 必須
            .selecters_wrap
              .select_wrap
                = date_select(:select, :exp_month, use_month_numbers:true, discard_year:true, discard_day:true)
                %i.fas.fa-chevron-down
              %h2 月
              .select_wrap
                = date_select(:select, :exp_year, discard_month:true,start_year:2019)
                %i.fas.fa-chevron-down
              %h2 年 
          =render 'render/input-form-required',label:'セキュリティコード',example:'カード背面４桁もしくは３桁の番号',form:f, name: :cvc
          =render 'render/help-link',text:'カード裏面の番号とは？',address:root_path
          =render 'render/input-form-button',name:'追加する',form:f
.footer
  = render 'top/footer'
