.top_header
  .top_header__wrapper
    .header-top
      = image_tag "logo.svg", class:"header-top__logo"
      %form.header-top__search-box
        %input.header-top__search-box__input-box{type: "text", placeholder: "何かお探しですか？"}
        %i.fa.fa-search
    .header-bottom
      %ul.header-bottom__search-menu
        %li.header-bottom__search-menu__category
          .header-bottom__search-menu__category__icon
            %i.fa.fa-list
            %span カテゴリーから探す
          %ul.header-bottom__search-menu__category__wrapper
            - @bigcategories.each do |element|
              = render partial: "header_category1", locals: {big_category: element}
        %li.header-bottom__search-menu__brand
          .header-bottom__search-menu__brand__icon
            %i.fa.fa-tag
            %span ブランドから探す
          %ul.header-bottom__search-menu__brand__wrapper
            = render partial:'header_brand_item', locals:{brand:'シャネル'}
            = render partial:'header_brand_item', locals:{brand:'ナイキ'}
            = render partial:'header_brand_item', locals:{brand:'ルイヴィトン'}
            = render partial:'header_brand_item', locals:{brand:'シュープリーム'}
            = render partial:'header_brand_item', locals:{brand:'アディダス'}
            = render partial:'header_brand_item', locals:{brand:'ブランド一覧'}
      %ul.header-bottom__user-menu
        %li.header-bottom__user-menu__good
          .header-bottom__user-menu__good__icon
            %i.far.fa-heart
            %span いいね！一覧
        %li.header-bottom__user-menu__notification
          .header-bottom__user-menu__notification__icon
            %i.fas.fa-bell
            %span お知らせ
            .header-bottom__user-menu__notification__icon__count 10
          %ul.header-bottom__user-menu__notification__wrapper
            = render partial:'header_notification', locals:{header_notification:"安心でかんたんに出品する方法をCHECKしてみよう！",notification_time:"11時間前"}
            = render partial:'header_notification', locals:{header_notification:"安心でかんたんに出品する方法をCHECKしてみよう！",notification_time:"11時間前"}
        %li.header-bottom__user-menu__todolist
          .header-bottom__user-menu__todolist__icon
            %i.fa.fa-check
            %span やることリスト
          %ul.header-bottom__user-menu__todolist__content
            %li.header-bottom__user-menu__todolist__content__view  現在やることはありません
        %li.header-bottom__user-menu__mypage
          .header-bottom__user-menu__mypage__icon
            =image_tag "member_photo_noimage_thumb.png"
            %span マイページ
          .header-bottom__user-menu__mypage__box
            .header-bottom__user-menu__mypage__box__status
              %figure.header-bottom__user-menu__mypage__box__status__user-icon
                %div
                  = image_tag "member_photo_noimage_thumb.png"
                %figucaption ユーザー名
              %ul.header-bottom__user-menu__mypage__box__status__reviewlist
                %li.user_status
                  = link_to "評価:0", "/"
                %li.user_status
                  = link_to "出品数:0", "/" 
              %ul.header-bottom__user-menu__mypage__box__status__salespoint
                %li.user_status
                  %a
                    .l-left 売上金
                    .l-right 
                      = "0"
                      %i.fa.fa-arrow-right
                %li.user_status
                  %a
                    .l-left ポイント
                    .l-right 
                      = "0"
                      %i.fa.fa-arrow-right
            %ul.header-bottom__user-menu__mypage__box__nav
              = render partial:'header_usermenu_card', locals:{card:"いいね一覧"}
              = render partial:'header_usermenu_card', locals:{card:"出品した商品-出品中"}
              = render partial:'header_usermenu_card', locals:{card:"出品した商品-取引中"}
              = render partial:'header_usermenu_card', locals:{card:"出品した商品-売却済"}
              = render partial:'header_usermenu_card', locals:{card:"購入した商品-取引中"}
              = render partial:'header_usermenu_card', locals:{card:"出品した商品-過去の取引"}
