.wrapper
  .header
    = render 'top/header'
  .content
    .contents__wrapper-category
      %ul.category__navigation
        = render partial:"category-list", collection: @categories, as: :category 
      .contents__all-items-category
        %h2.contents__all-items__head-caterory
          - if @page == nil
            =@category.name
          - else
            =@category.name + "の商品一覧(" + @page + "ページ目)"
        .contents__items-category
          = render partial: "products/item", collection: @products, as: :product
      = paginate @products, window:2
      .category
        .category__bar
          = @category.name
        %p.category__explanation
          = "レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはサンダルと着物です。人気の商品は「【最終値下げしました】クロックス サンダル23㎝新品未使用」や「【3623】着物 袋帯 六通 ピンク×シルバー 420㎝」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。"
  .footer
    = render 'top/footer'
