.registration__container
  .registration__title 会員情報入力
  = form_with model: @user, url: user_registration_path, class: 'registration__content', local: true do |f|
    .registration__content__box
      =render 'render/input-form-required',label:'ニックネーム',example:'例）メルカリ太郎', form: f, name: :nickname
      =render 'render/input-form-required',label:'メールアドレス',example:'PC・携帯どちらでも可', form: f, name: :email
      =render 'render/input-form-required',label:'パスワード',example:'６文字以上', form: f, name: :password
      =render 'render/input-form-required',label:'パスワード（確認）',example:'６文字以上', form: f, name: :password_confirmation
      .input-form-box
        %label 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      = render 'render/input-name-form-required', label:'お名前(全角)',example1:'例)山田',example2:'例)彩', form: f, name1: :family_name, name2: :first_name
      = render 'render/input-name-form-required', label:'お名前カナ(全角)',example1:'例)ヤマダ',example2:'例)アヤ', form: f, name1: :family_furigana, name2: :first_furigana
      .input-form-box
        %label 生年月日
        %span.required 必須
        .select_wrap
          .select_wrap-birth
            = date_select('birth_year','method',end_year:2019,discard_month:true)
            %i.fas.fa-chevron-down
            %h2 年
          .select_wrap-birth
            = date_select('birth_month','method',use_month_numbers:true,discard_year:true,discard_day:true)
            %i.fas.fa-chevron-down
            %h2 月
          .select_wrap-birth
            %select
              - @days = 1...32
              - @days.each do |index|
                %option{value:index}= index
            %i.fas.fa-chevron-down
            %h2 日
      %p.text-gray ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      -# .input-form-box
      -# recaptha認証をできたら入れる。
      .input-form-box
        %p.text-center 
          「次へ進む」のボタンを押すことにより、
          =link_to '利用規約', root_path
          に同意したものとみなします
      =render "render/input-form-button",name:'次へ進む' ,form: f

