.mypage__main{"data":@subject_active}
  .mypage__main__usericon
    = link_to("/users") do
      =image_tag "member_photo_noimage_thumb.png"
      %h2.mypage__username
        = "username"
      %ul.usericon__evaluation
        %li.usericon__evaluation__value
          %h3 評価 :0
        %li.usericon__evaluation__number
          %h3 出品数 :0
  .mypage__main__information
    %ul.mypage__main__information__tab
      %li.mypage__main__information__tab__title.active お知らせ
      %li.mypage__main__information__tab__title やることリスト
    %ul.mypage__main__information__content.is-shown
      = render 'mypage__notification-list'
      = render 'mypage__notification-list'
      = render 'mypage__notification-list'
      %li.notification__link
        = link_to '一覧を見る', "/"
    %ul.mypage__main__information__content
      %li.mypage__main__information__content__todo 現在、やることはありません
  .mypage__main__tradehistory
    .mypage__main__tradehistory__head 購入した商品
    .mypage__main__tradehistory__bottom
      %ul.mypage__main__tradehistory__bottom__tab
        %li.mypage__main__tradehistory__bottom__tab__name.active 取引中
        %li.mypage__main__tradehistory__bottom__tab__name 過去の取引
      .mypage__main__tradehistory__bottom__content
        %ul.mypage__main__tradehistory__bottom__content__now
          %li.mypage__main__tradehistory__bottom__content__now__list.is-shown 現在取引中の商品はありません
          %li.mypage__main__tradehistory__bottom__content__now__list 過去に取引した商品はありません
