.registration_login-container
  = render "registration_login_header"
  %main.registration-main
    .login__box
      .login__box--account-blue
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .login__box--social
        %button#facebook-login.btn-default.btn-sns-facebook
          Facebookでログイン
          %i.fab.fa-facebook-square
        %button#google-login.btn-default.btn-sns-google Googleでログイン
      = form_with model: @user, local: true do |f|
        .login__box--form
          .form-email
            = f.email_field :email, placeholder: "メールアドレス", class: "email_field input-default form-email-input"
          .form-password
            = f.password_field :password, placeholder: "パスワード", class: "input-default"
          .form_captcha
            = image_tag "robot.png"
            -# captchaのジャムをインストールする。
            -# = recaptcha_tags
          = f.submit "ログイン", class: 'btn login-switch btn-default'
          = link_to "パスワードをお忘れの方","#"
  %footer.registration_login-footer
    = render "registration_login_footer"
