= render 'signup/registration-header'
.registration__container
  .registration__title 電話番号の確認
  = form_with model:@phone,url:phone_number_authorization_index_path,class:'registration__content' do |f|
    .registration__content__box
      .input-form-box.first-form
        %label 携帯電話の番号
        = f.text_field :telephone ,class:'input__form__group__input',placeholder:'携帯電話の番号を入力'
      %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      = render 'render/input-form-button',name:'SMSを送信する',form:f
      %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      = render "render/link_right",text:"電話番号の確認が必要な理由",address:root_path
%footer.registration_login-footer.test
  =render 'signup/registration_login_footer'
