.mypage__container
  .mypage__sidebar
  .mypage__main
    .mypage__info__registration__header 本人情報の登録
    %form.mypage__info__registration__contents
      %ul.mypage__info__registration__contents__textbox
        %li.mypage__info__registration__contents__textbox__left
          %p お客さまの本人情報をご登録ください。
          %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %li.mypage__info__registration__contents__textbox__right
          = link_to("本人確認書類のアップロード","/user_identifications")
          %i.fas.fa-chevron-right
      = render partial:'form-user-text',locals:{index:'お名前',content:'樋口 翔'}
      = render partial:'form-user-text',locals:{index:'お名前カナ',content:'ヒグチ ショウ'}
      = render partial:'form-user-text',locals:{index:'生年月日',content:'1994/07/29'}
      = render partial:'render/input-form-optional',locals:{label:"郵便番号",example:"例)1234567"}
      = render partial:'render/prefecture-optional'
      = render partial:'render/input-form-optional',locals:{label:"市区町村",example:"例)横浜市緑区"}
      = render partial:'render/input-form-optional',locals:{label:"番地",example:"例)青山1-1-1"}
      = render partial:'render/input-form-optional',locals:{label:"建物名",example:"例)柳ビル103"}
      = render partial:'render/input-form-button',locals:{name:"登録する"}
      .input-form-box
        = render partial:"render/link_right",locals:{text:'本人情報の登録について',address:"/"}
= render 'top/footer'
