= link_to product_path(product.id), class:"contents__item__box" do
  .contents__item__box__image
    -if product.images.attached?
      = image_tag product.images[0]
    
  .contents__item__box__item-name
    = product.name
  .contents__item__box__price-favorite
    .contents__item__box__price
      = "¥#{product.price.to_s(:delimited)}"
    .contents__item__box__favorite
      %i.far.fa-heart.gray

      %span 6 
