.wrapper
  .header
    = render 'top/header'
  .search__container
    .search__sidebar
      = search_form_for @q,url:search_products_path, class:"search__form" do |f|
        = collection_select :search,:search_order, SearchOrder.all, :id, :label, {prompt: "---",selected:@order_id},class:'order-select'
        .search-box
          %h3.search__form__title 詳細検索
          .input-form-box
            %label キーワードを追加する
            = f.text_field  :name_cont,class:'input__form__group__input', value:@keyword
          .input-form-box
            %label カテゴリーを選択する
            = f.collection_select :category_id, Category.all.take(13), :id, :name, {prompt: "すべて",selected: @bigcategoryid},class:'listing__form__detail__box__form-group__category-select',id: 'big-category'
          - (1...14).each do |e|
            -if e == @bigcategoryid
              .listing__form__detail__box__form-group-search.middle-category{style: 'display:block;'}
                = f.collection_select :category_id,Category.find(e).children, :id, :name, {prompt: "---", selected: @middlecategoryid}, class: 'listing__form__detail__box__form-group__category-select'
            -else
              .listing__form__detail__box__form-group-search.middle-category{style: 'display:none;'}
                = f.collection_select :category_id,Category.find(e).children, :id, :name, {prompt: "---", selected: @middlecategoryid}, class: 'listing__form__detail__box__form-group__category-select'
          - (14...159).each do |g|
            -if g == @middlecategoryid
              .listing__form__detail__box__form-group-search.small-category{style: 'display:block;'}
                = f.collection_select :category_id, Category.find(g).grandchildren, :id, :name, {prompt: "---",selected:@smallcategoryid}, class: 'listing__form__detail__box__form-group__category-select'
            -else
              .listing__form__detail__box__form-group-search.small-category{style: 'display:none;'}
                = f.collection_select :category_id, Category.find(g).grandchildren, :id, :name, {prompt: "---",selected:@smallcategoryid}, class: 'listing__form__detail__box__form-group__category-select'
          = f.hidden_field :category_grandparent_id_eq, id:"input_category_grandparent"
          = f.hidden_field :category_parent_id_eq,id:"input_category_parent"
          = f.hidden_field :category_id_eq,id:"input_category"
          .input-form-box
            %label ブランド名から探す
            = f.text_field  :brand_cont,class:'input__form__group__input', placeholder:'例)シャネル'
          .input-form-box
            %label サイズを指定する
            = f.collection_select :size_id_eq, Size.all, :id, :name, {prompt: "すべて"},class:'listing__form__detail__box__form-group__category-select'
          .input-form-box
            %label 価格を指定する
            = collection_select :price, :select, Price.all, :id, :name, {prompt: "---"},class:'listing__form__detail__box__form-group__category-select'
            = f.text_field :price_gteq,class:'input__form__group__input-small'
            %span.spacer ~
            = f.text_field :price_lteq,class:'input__form__group__input-small'
          .input-form-box
            %label 商品の状態を指定する
            = f.collection_select :status_id_eq, Status.all, :id, :name, {prompt: "すべて"},class:'listing__form__detail__box__form-group__category-select'
          .input-form-box
            %label 配送料の負担
            = f.collection_select :shipping_fee_id_eq, ShippingFee.all, :id, :name, {prompt: "すべて"},class:'listing__form__detail__box__form-group__category-select'
          .input-form-box
            %label 販売状況
            = f.collection_select :purchase_status_id_eq, PurchaseStatus.all, :id, :name, {prompt: "すべて"},class:'listing__form__detail__box__form-group__category-select'          
          .input-form-box-search
            %button.btn-default.btn-gray{id:"search-clear"} クリア
            =f.submit "完了", class: 'btn-default btn-red',id:'search_submit'
    .mypage__main
      .contents__wrapper-search
        %ul.category__navigation
          = render partial:"category-list", collection: @categories, as: :category 
        .contents__all-items-category
          %h2.contents__all-items__head-caterory
            - unless @keyword == nil
              - if @page == nil
                =@keyword + "の検索結果"
              - else
                =@keyword + "の検索結果(" + @page + "ページ目)"
          .contents__items-search
            = render partial: "products/item", collection: @products, as: :product
        = paginate @products, window:2
  .footer
    = render 'top/footer'
