.wrapper--item-detail
  .item-detail
    %h1
      = @product.name
    .item-detail__image-text
      .item-detail__image
        %ul.item-detail__image__sliders
          - @products_images.each do |products_image|
            %li.item-detail__image__slider
              = image_tag products_image.image_url, alt: '', height: 'auto', width: '270px'
        %ul.item-detail__image__thumbnails
          - @products_images.each do |products_image|
            %li.item-detail__image__thumbnail
              = image_tag products_image.image_url, alt: '', height: '60px', width: '60px'
      .item-detail__table
        %table
          %tr
            %th 出品者
            %td
              = @product.user_id
              .item-detail__table__assesments
                .item-detail__table__assesment-good
                  %i.fas.fa-grin
                %span 33
                .item-detail__table__assesment-ordinary
                  %i.fas.fa-meh
                %span 22
                .item-detail__table__assesment-bad
                  %i.fas.fa-frown
                %span 11
          %tr
            %th カテゴリー
            %td
              .item-detail__table__category
                = link_to @product.category.name, '/'
              .item-detail__table__category
                %i.fas.fa-angle-right
                = link_to 'トップス', '/'
              .item-detail__table__category
                %i.fas.fa-angle-right
                = link_to 'Tシャツ/カットソー(半袖/袖なし)','/'
          %tr
            %th ブランド
            %td
              = link_to @product.brand, '/'
          %tr
            %th 商品のサイズ
            %td
              = @product.size.name
          %tr
            %th 商品の状態
            %td
              = @product.status.name
          %tr
            %th 配送料の負担
            %td
              = @product.shipping_fee_id
          %tr
            %th 配送の方法
            %td ゆうゆうメルカリ便
          %tr
            %th 配送元地域
            %td
              = @product.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @product.shipping_date.name
    .item-detail__price-tax-shipping_cost
      .item-detail__price
        %h2
          = "¥#{@product.price.to_s(:delimited)}"
      .item-detail__tax
        (税込)
      .item-detail__shipping_cost
        送料込み
    .item-detail__purchase-button
      = link_to '購入画面に進む', "/"
    .item-detail__comment
      %p
        = @product.description
    .item-detail__like-bad-other
      .item-detail__like
        %i.far.fa-heart
        %span いいね！
        %span 4
      .item-detail__bad
        %i.far.fa-flag
        %span 不適切な商品の報告
        %span
      .item-detail__other
        %i.fas.fa-lock
        = link_to 'あんしん・あんぜんへの取り組み','/'
    .item-detail__comment
      .item-detail__comment__box
        %ul.item-detail__comment__box__content
          %li.item-detail__comment__box__content__profile
            .item-detail__comment__box__content__profile__image
              = image_tag 'member_photo_noimage_thumb.png'
            .item-detail__comment__box__content__profile__name
              ああああ
          %li.item-detail__comment__box__content__body
            .item-detail__comment__box__content__body__text
              初めまして、購入したいのですが、お値下げはお願いできますでしょうか？お返事お待ちしてます。
            .item-detail__comment__box__content__body__icon
              .item-detail__comment__box__content__body__icon__time
                %i.far.fa-clock
                10日前
              .item-detail__comment__box__content__body__icon__flag
                %i.far.fa-flag
        %ul.item-detail__comment__box__content
          %li.item-detail__comment__box__content__profile
            .item-detail__comment__box__content__profile__image
              = image_tag 'member_photo_noimage_thumb.png'
            .item-detail__comment__box__content__profile__name
              いいいいい
          .item-detail__comment__box__content__seller
            出品者
          %li.item-detail__comment__box__content__body
            .item-detail__comment__box__content__body__text
              初めまして、購入したいのですが、お値下げはお願いできますでしょうか？お返事お待ちしてます。
            .item-detail__comment__box__content__body__icon
              .item-detail__comment__box__content__body__icon__time
                %i.far.fa-clock
                10日前
              .item-detail__comment__box__content__body__icon__flag
                %i.far.fa-flag
        .item-detail__comment__caution
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.item-detail__comment__form
        .item-detail__comment__form__button
          コメントする
    .item-detail__prev-next
      .item-detail__prev
        .item-detail__prev__arrow
        <
        .item-detail__prev__item-name
        サイクルジャージ　ツインシックス　M
      .item-detail__next
        .item-detail__next__item-name
        新品未開封マキアージュ ドラマティックスキンセンサーベースUV
        .item-detail__next__arrow
          >
    .item-detail__social_icons
      .item-detail__social_icons__facebook
        %i.fab.fa-facebook-square
      .item-detail__social_icons__twitter
        %i.fab.fa-twitter-square
      .item-detail__social_icons__pinterest
        %i.fab.fa-pinterest-square
    .item-detail__other_items
      %h2 ◯◯さんのその他の出品
      .contents__items.background-gray
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000
          .contents__item__box__favorite
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000
    .item-detail__other_items.background-gray
      %h2 レディースのその他の商品
      .contents__items
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000
          .contents__item__box__favorite
        .contents__item__box
          .contents__item__box__image
            = image_tag 'item1', alt: '', height: '213', width: '213', class: ''
          .contents__item__box__item-name
            ecco crepe tray スニーカーブーツ DANISH 23.5
          .contents__item__box__price-favorite
          .contents__item__box__price
            ¥10,000